<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="db_a7d64f_userEntities" connectionString="metadata=res://*/Integration.DBModel.csdl|res://*/Integration.DBModel.ssdl|res://*/Integration.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5105.site4now.net;initial catalog=db_a7d64f_user;user id=db_a7d64f_user_admin;password=M12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserEntities" connectionString="metadata=res://*/Integration.ModelEnitity.csdl|res://*/Integration.ModelEnitity.ssdl|res://*/Integration.ModelEnitity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5105.site4now.net;initial catalog=db_a7d64f_user;user id=db_a7d64f_user_admin;password=M12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>